<%- include("sidebar.ejs") %>
<!-- Page Content -->
<%- include("header.ejs")%>

<!-- Main Content -->
<!-- Edit Category -->
<div class="main-content">
  <header>
    <h1>Edit Product</h1>
  </header>

  <div class="container">
    <form
      id="edit-category-form"
      action="/api/admin/updateProduct/<%= products._id %>"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="category-name">Product Name:</label>
        <input
          type="text"
          id="category-name"
          name="name"
          placeholder="Enter product name"
          value="<%= products.name%>"
          required
        />
      </div>

      <div class="form-group">
        <label for="subcategories">Product Price($):</label>
        <input
          type="text"
          id="subcategories"
          name="price"
          placeholder="$"
          value="<%= products.price %>"
        />
      </div>

      <!-- Product Category -->
      <div class="form-group">
        <label for="productCategory">Category</label>
        <select id="productCategory" name="category" required>
          <option selected disabled>Select category</option>
          <option selected><%= products.category %></option>

          <% Categories.forEach((category,index)=>{ %>
          <option value="<%= category.name  %>"><%= category.name %></option>

          <% }) %>

          <!-- <option selected disabled>NO categories available</option> -->

          <!-- <option value="clothing">Clothing</option>
          <option value="home">Home Appliances</option>
          <option value="books">Books</option> -->
        </select>
      </div>

      <div class="form-group">
        <div class="show-product-image">
          <label for="category-image">product Image:</label>
          <img
            src="/images/products/<%= products.image %>"
            alt="<%= products.image %>"
            class="td-image"
          />
        </div>
        <input
          type="file"
          id="category-image"
          name="image"
          placeholder="Change your image"
        />
      </div>

      <div class="form-group">
        <label for="category-description">Product Description:</label>
        <textarea
          id="category-description"
          name="description"
          rows="4"
          placeholder="Enter category description"
          required
        >
    <%= products.description %></textarea
        >
      </div>

      <div class="form-group">
        <label for="subcategories">Stock Quantity:</label>
        <input
          type="text"
          id="subcategories"
          name="stock"
          placeholder="Enter stock quantity"
          value="<%= products.stock %>"
        />
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-primary">Save Changes</button>
        <button type="button" class="btn-secondary" onclick="cancelEdit()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  function cancelEdit() {
    window.location.href = "/api/admin/products";
  }
</script>
<%- include("footer.ejs")%>
