<%- include("sidebar.ejs") %>
<!-- Page Content -->
<%- include("header.ejs")%>

<!-- Products Section -->
<section id="products" class="content-section active">
  <div class="container">
    <h2>Add New Product</h2>
    <form id="addProductForm" enctype="multipart/form-data">
      <!-- Product Name -->
      <div class="form-group">
        <label for="productName">Product Name</label>
        <input
          type="text"
          id="productName"
          name="name"
          placeholder="Enter product name"
          required
        />
      </div>

      <!-- Product Price -->
      <div class="form-group">
        <label for="productPrice">Product Price ($)</label>
        <input
          type="number"
          id="productPrice"
          name="price"
          placeholder="Enter product price"
          step="0.01"
          min="0"
          required
        />
      </div>

      <!-- Product Category -->
      <div class="form-group">
        <label for="productCategory">Category</label>
        <select id="productCategory" name="category" required>
          <% if (categories.length > 0){ %>
          <option selected disabled>Select category</option>
          <% categories.forEach((category,index)=>{ %>
          <option value="<%= category.name  %>"><%= category.name %></option>

          <% }) %> <% }else{ %>
          <option selected disabled>NO categories available</option>
          <% }%>
          <!-- <option value="clothing">Clothing</option>
          <option value="home">Home Appliances</option>
          <option value="books">Books</option> -->
        </select>
      </div>

      <!-- Product Image Upload -->
      <div class="form-group">
        <label for="productImage">Upload Product Image</label>
        <input
          type="file"
          id="productImage"
          name="image"
          accept="image/*"
          required
        />
      </div>

      <!-- Product Description -->
      <div class="form-group">
        <label for="productDescription">Description</label>
        <textarea
          id="productDescription"
          name="description"
          rows="4"
          placeholder="Enter product description"
          required
        ></textarea>
      </div>

      <!-- Stock Quantity -->
      <div class="form-group">
        <label for="productStock">Stock Quantity</label>
        <input
          type="number"
          id="productStock"
          name="stock"
          placeholder="Enter stock quantity"
          min="0"
          required
        />
      </div>

      <!-- Error message -->
      <div>
        <p style="display: none; color: red" id="errorMsg">
          Category already exists
        </p>
      </div>
      <!-- Submit Button -->
      <button type="submit">Add Product</button>
    </form>

    <!-- Product List Table -->
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Image</th>
          <th>Description</th>
          <th>price</th>
          <th>category</th>
          <th>stockQuantity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="category-list">
        <!-- Dynamic Categories Will Be Appended Here -->
        <% if (products.length > 0) { %> <% products.forEach((product, index) =>
        { %>

        <tr>
          <!-- <td> <% index+1 %> </td> -->
          <td><%= product.name %></td>
          <td class="image-td">
            <img
              src="/images/products/<%= product.image %>"
              alt="<%= product.image %>"
              class="td-image"
            />
          </td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.category %></td>
          <td><%= product.stock %></td>
          <td class="action-button-td">
            <div class="action-button-div">
              <form
                class="edit-form"
                action="/api/admin/editProduct/<%= product._id %> "
                method="get"
              >
                <a id="action-button" href=""
                  ><button class="btn-edit">Edit</button></a
                >
              </form>
              <form
                action="/api/admin/deleteProduct/<%= product._id %>"
                class="delete-form"
                data-productId="<%= product._id %>"
                method="post"
              >
                <button
                  id="action-button"
                  class="btn-danger delete-product-btn "
                  type="button"
                >
                  Delete
                </button>
              </form>
            </div>
          </td>
        </tr>
        <% }) %> <% }else{ %>
        <tr>
          <td colspan="7">No Products available</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("addProductForm");

    form.addEventListener("submit", (event) => {
      event.preventDefault();

      const productInputName = document
        .getElementById("productName")
        .value.trim();
      const productPrice = document.getElementById("productPrice").value.trim();
      const productCategory = document.getElementById("productCategory").value;
      const productImage = document.getElementById("productImage").files[0];
      const productDescription = document
        .getElementById("productDescription")
        .value.trim();
      const productStockQuantity =
        document.getElementById("productStock").value;

      // Form validation check
      if (
        !productInputName ||
        !productPrice ||
        !productCategory ||
        !productImage ||
        !productDescription ||
        !productStockQuantity
      ) {
        document.getElementById("errorMsg").style.display = "block";
        alert("Please fill out all required fields and upload an image.");
        return;
      }

      // Prepare form data
      const formData = new FormData();
      formData.append("name", productInputName);
      formData.append("price", productPrice);
      formData.append("category", productCategory);
      formData.append("image", productImage);
      formData.append("description", productDescription);
      formData.append("stock", productStockQuantity);

      console.log("axios started");

      // Axios request
      axios
        .post("/api/admin/addProduct", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          if (response.status === 200) {
            // SweetAlert success modal
            return swal.fire({
              icon: "success",
              title: "Success!",
              text: response.data.message,
            });
          }
        })
        .then((result) => {
          // Handling result from SweetAlert
          if (result.isConfirmed) {
            window.location.href = "/api/admin/products";
          }
        })
        .catch((err) => {
          console.error(err.message);
          // Error handling in case Axios fails
          swal.fire({
            icon: "error",
            title: "Error",
            text: "There was an error while adding the product.",
          });
        });

      // Reset form after submission
      form.reset();
    });
  });

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".delete-product-btn").forEach((button) => {
      button.addEventListener("click", function() {
        const deleteForm = this.closest(".delete-form");
        const productId = deleteForm.dataset.productId;

        swal
          .fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
          })
          .then((result) => {
            if (result.isConfirmed) {
              deleteForm.submit();
            }
          });
      });
    });
  });
</script>

<%- include("footer.ejs")%>
